.Board {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Board > * {
  min-height: 60px;
}

@media all and (max-width: 550px) {
  .Board > * {
    min-height: 50px;
  }
}

@media all and (max-width: 450px) {
  .Board > * {
    min-height: 45px;
  }
}

@media all and (max-width: 400px) {
  .Board > * {
    min-height: 40px;
  }
}

@media all and (max-width: 360px) {
  .Board > * {
    min-height: 35px;
  }
}
