.Desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  padding: 10px 5px;
  color: #fafafa;
}

@media only screen and (max-width: 600px) {
  .Desk {
    padding: 5px 2px;
  }
}
